.button {
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  box-shadow: none;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 6px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 0.5s;
  background-color: #4fccae;
}
