<!DOCTYPE html>
<html lang="en">
  <include src="partials/head.html"></include>

  <body>
    <include src="partials/header.html"></include>
    <main class="page">
      <div class="container">
        <h1>Hello, world!!</h1>
        <br /><br />
        <img
          src="../../assets/img/avatar.jpeg"
          alt="avatar"
          width="150"
          height="150"
        />
        <br /><br />
        <a href="./ui.html" class="button">ui page</a>
        <br /><br />
      </div>
    </main>
    <include src="partials/footer.html"></include>
  </body>
</html>
